@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --tile-height: 5vw;
  --tile-font-size: 3vw;
}

html {
  overflow: scroll;
}
.color {
  color: yellowgreen;
}
.canvas {
  width: 100vw;
  width: 100svw;
  height: 100vh;
  height: 100svh;
  background-color: black;
  position: relative;
  font-family: "Lobster", cursive;
}
.intro {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  font-size: clamp(3rem, 5vw, 7vw);
  transform: translate(-50%, -50%);
  text-align: center;
  user-select: none;
}
.line1 {
  transform: translateX(-15vw);
}
.line2 {
  display: flex;
  flex-wrap: wrap;
}
.i-title {
  height: var(--tile-height);
  overflow: hidden;
}

.i-title-wrapper {
  height: 100%;
  animation: move 8s ease-in-out infinite alternate;
}
@keyframes move {
  25% {
    transform: translateY(calc(-1 * var(--tile-height)));
  }
  50% {
    transform: translateY(calc(-2 * var(--tile-height)));
  }
  100% {
    transform: translateY(calc(-3 * var(--tile-height)));
  }
}
.i-title-item {
  font-size: var(--tile-font-size);
  font-weight: bold;
}
.about_me {
  width: 100vw;
  width: 100svw;
  height: 100vh;
  height: 100svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right_side {
  position: relative;
  display: flex;
  justify-content: center;
}

.right_side svg {
  stroke: black;
  stroke-width: 50px;
  fill: transparent;
  transition: fill 1s ease-in;
}
.left_side {
  padding-top: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: clamp(2rem, 4vw, 4vw);
}
p {
  padding-left: 7vw;
  padding-right: 7vw;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  text-align: justify;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 10vw;
  gap: 1rem;
  background-color: beige;
  font-size: clamp(2rem, 3vw, 4vw);
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

@media (hover: hover) {
  .links > .github:hover {
    color: #1d1a1a;
  }
  .links > .linkedin:hover {
    color: #0072b1;
  }
  .links > .instagram:hover {
    color: #bc2a8d;
  }
  .links > .twitter:hover {
    color: #00acee;
  }
  .links > .mail:hover {
    color: #00acee;
  }
}

@media (max-width: 900px) {
  :root {
    --tile-height: 30px;
    --tile-font-size: 20px;
  }
  .about_me {
    grid-template-columns: 1fr;
  }
  .left_side {
    height: 50vh;
  }

  .right_side {
    height: 50vh;
    grid-column: 1 / 2;
    grid-row: 1/2;
  }
  .right_side svg {
    height: 100%;
    width: 100%;
  }
  .line1 {
    transform: translateX(-25vw);
  }
}
